{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="{% static 'pr/fontawesome/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'pr/css/templatemo-comparto.css' %}" rel="stylesheet" />
    <title>Comparto HTML CSS Template</title>

</head>

<body>
<br><br>
    <a id="button"><i class="fas fa-angle-up fa-2x"></i></a>
    <div class="container-fluid">
        <div class="tm-site-header tm-mb-1">
            <div class="tm-site-name-container tm-bg-color-1">
                <h1 class="tm-text-white">scholarship</h1>
            </div>
<br><br>
              <section class="tm-mb-1 tm-row tm-services-row" id="services">
            <div class="tm-section-2-l">
                <br><br><br><br><br><br>
                <article class="tm-bg-color-6 tm-box-pad tm-mb-1">
                    <h2 class="tm-mb-2">100% scholarship to students </h2>
                    <p>we provide students those have greater than 80% in their academic scholarship.we also provide awards to students those perform better in their academic</p>
                    <p class="tm-mb-0">saryavan university provide a better future to students</p>
                </article>

        </section>

</body>
</html>
{% endblock %}